/* Move down content because we have a fixed navbar that is 50px tall */
body {
  
  padding-bottom: 20px;
}

.jumbotron{
	display: inline-block;
	/*width:85%;*/
	float:left;
	width: 85%;
	background-color: #232323;
    border-right: thick solid #512f54;
}

/*.container{
	display: inline-block;
	background-color: #232323;
	margin-left: 14.4%;
    border-left: thick solid #512f56;
	width:85%;
	float: left;
	margin-top: -2.7%;
}*/

p{
	color: white;
}

h3{
color: white;	
}

.stockphoto{
	color: white;
}

.left-side-bar{
	display: inline-block;
	float: left;
	background:#202122;
	height: 100%;
	color: white;
	width: 15%;
}

.FixedHeightContainer
{ border-radius: 10px;
  margin-top: 60px;
  margin-left: 20%;
  height: 30%;
  width:60%;
  padding:3px; 
  background:#202122
}
.Content
{
 background:#202122;
 border-radius: 13px;	 
  height:224px;
   overflow:auto;
    
}

.FixedHeightContainer-right
{ border-radius: 4px;
  margin-top: 60px;
  margin-left: 20%;
  height: 30%;
  width:60%;
  padding:3px; 
  background:#512f54;
}

.random{
	margin-left: 20px;
}

#username{
	font-size: 20px;
	margin-top: 13px;
	margin-left: 77px;
}
.img-circle {
    margin-left: 65px;
    margin-top: 65px;
    border-radius: 50%;
}
.img-circle-a {
    margin-left: 85px;
    margin-top: 65px;
    border-radius: 50%;
}